:root { --responsive-font-size: clamp(0.3rem, 0.67vw + 0.3em, 1.2rem); }
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

.navbar{
    display: flex;
    text-decoration: none;
    margin-top: 0;
    background: none
    ;    
}

.navbar  ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    overflow:inherit;
    justify-content: space-between;
    align-self: center;
    width: 90%;
    box-sizing: border-box;
    background:none;
    text-align: center;
    padding: 1.5%;
    border-radius:0.8rem;
    position: inherit;
    margin-top: 0;
    z-index:1;
    margin: 0 auto;
    align-items: end;
}

.icons{
    font-size:1.8rem;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    gap:4px;
    
}
.txt{
    font-size: var(--responsive-font-size);
    font-family: 'Inter',Sans-serif;
    font-weight: bold;
    position: relative;
    
}


li:hover{
    cursor: pointer;
}

.logo{
    width: 10vw;
    height: auto;
    
}

img{
    width: 100%;
    
}

.txt::before{
    position: absolute;
    background-color: rgb(98, 98, 98);
    content: '';
    width:100%;
    height: 4px;
    bottom: -3px;
    left: 0;
    border-radius: 0.8rem;
    transform: scaleX(0);
    transition: transform 0.4s linear;
}

.txt:hover::before{
    transform: scaleX(1);
}